@font-face {
  font-family: 'Arita-dotum-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Arita-dotum-Medium', 'Courier New', Courier, monospace;
  background-color: #242333bf;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #242333af;
  width: 50vw;
  height: 40vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form, .todoForm {
  width:100%;
  display: flex;
  justify-content: center;
}

.form,
.greeting {
  display: none;
}

.unshow {
  display: none;
}

.show {
  display: flex;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 70%;
}


input{
  font-family: 'Arita-dotum-Medium', 'Courier New', Courier, monospace;
  background-color: white;
  color: black;
  width: 30vw;
  padding: 5px 10px;
  border: none;
  text-align: center;
}

.todoList {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, minmax(max-content, 1fr));
}

li {
  all: unset;
  display: flex;
  align-items: center;
}

button {
  all: unset;
  cursor: pointer;
  padding: 10px;
}

